.criar-tarefa{
  max-width: 1000px;
  display: flex;
  margin: 6% auto auto auto;
}

.input-criar{
  display: flex;
  width: 100%;
}

.input-criar input{
  display: flex;
  width: 100%;
  background-color: #222222;
  border: none;
  border-bottom: 1px solid;
  padding: 20px 15px 20px 0px;
  color: #fff;
  font-size: 30px;
}

.input-criar input:focus{
  outline: 0;
}

@media only screen and (max-width: 600px) {
  .input-criar input{
    font-size: 20px;
  }
}

@media only screen and (max-width: 300px) {
  .input-criar input{
    font-size: 15px;
  }
}
